<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.mapper.UserMapper">

    <insert id="insert" parameterType="com.sunny.model.UserModel" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(
            nickname,username,password,question,answer,role,sign,email,mobile,qq,sex,age,birthday,image,binding_mobile_status,binding_email_status,login_fail_times,enable_status,delete_status,operator,operate_time,creator,create_time
        ) values(
            #{nickname},#{username},#{password},#{question},#{answer},#{role},#{sign},#{email},#{mobile},#{qq},#{sex},#{age},#{birthday},#{image},'NOT_BOUND','NOT_BOUND',0,'ENABLE','NOT_DELETE',#{operator},now(), #{creator},now()
        );
    </insert>

    <delete id="delete" parameterType="com.sunny.model.UserModel">
        update t_user
        set delete_status = 'DELETE',operator = #{operator},operate_time = now()
        where id = #{id} and delete_status = 'NOT_DELETE'
    </delete>

    <!--根据主键或者用户名更新数据 主键和用户名必须有一个-->
    <update id="update" parameterType="com.sunny.model.UserModel">
        update t_user
        <set>
            operate_time = now(),
            <if test="operator != null">
                operator = #{operator},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="question != null">
                question = #{question},
            </if>
            <if test="answer != null">
                answer = #{answer},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="sign != null">
                sign = #{sign},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="qq != null">
                qq = #{qq},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="loginFailTimes != null">
                login_fail_times = #{loginFailTimes},
            </if>
        </set>
        <where>
            delete_status = 'NotDelete'
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
        </where>
    </update>

    <update id="updateLoginFailTimesAddOne" parameterType="com.sunny.model.UserModel">
        update t_user
        set operate_time = now(),login_fail_times = login_fail_times + 1
        where username = #{username} and delete_status = 'NOT_DELETE'
    </update>

    <update id="updatePassword" parameterType="com.sunny.model.UserModel">
        update t_user
        <trim prefix="set" suffixOverrides=",">
            operate_time = now(),
            operator = #{operator},
            <if test="password != null">
                password = #{password},
            </if>
        </trim>
        where id = #{id}
    </update>

    <select id="select" parameterType="com.sunny.model.UserModel" resultType="com.sunny.model.UserModel">
        select
        id,nickname,username,password,question,answer,role,sign,email,mobile,qq,sex,age,birthday,image,binding_mobile_status
        as bindingMobileStatus,binding_email_status as bindingEmailStatus,login_fail_times as loginFailTimes,enable_status as
        enableStatus,delete_status as deleteStatus,operator,operate_time as operateTime,creator,create_time as createTime
        from t_user
        <where>
            delete_status = 'NOT_DELETE'
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="question != null">
                and question = #{question}
            </if>
            <if test="answer != null">
                and answer = #{answer}
            </if>
            <if test="role != null">
                and role = #{role}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile}
            </if>
            <if test="qq != null">
                and qq = #{qq}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
        </where>
        order by id
        <if test="offset != null and count != null">
            limit #{offset},#{count}
        </if>
    </select>

    <!--查询总数-->
    <select id="selectTotalCount" parameterType="com.sunny.model.UserModel" resultType="java.lang.Long">
        select count(1)
        from t_user
        <where>
            delete_status = 'NOT_DELETE'
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="question != null">
                and question = #{question}
            </if>
            <if test="answer != null">
                and answer = #{answer}
            </if>
            <if test="role != null">
                and role = #{role}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile}
            </if>
            <if test="qq != null">
                and qq = #{qq}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
        </where>
        <if test="offset != null and count != null">
            limit #{offset},#{count}
        </if>
    </select>

</mapper>